@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #fff;
    font-family: "Nunito";
}

#main {
    font-weight: 400;
    font-size: 1rem;
    padding: 2rem;
}